nav {
  background-color: #fff;
  z-index: 11;
  position: relative;
  margin-top: 10px;
}

nav .slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

nav .slide-item .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .slide-item .textBox p {
  margin: 0;
}

nav .slide-item .iconBox {
  padding-left: 30px;
}

nav .slide-item .iconBox .icon {
  padding-right: 10px;
}

nav .slide-item .iconBox .icon img {
  height: 30px;
}

nav .slide-item .iconBox .lang {
  border-right: 1px solid #787878;
  padding-right: 15px;
}

nav .slide-item .iconBox .currency {
  padding-left: 15px;
}

nav .nav-bottom-item {
  background-color: #fff;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-bottom-item .left-responsive-icons {
  display: none;
}

nav .nav-bottom-item .right-responsive-icons {
  display: none;
}

nav .nav-bottom-item .logoBox img {
  height: 60px;
}

nav .nav-bottom-item .menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-bottom-item .menuItems a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

nav .nav-bottom-item .menuItems a:hover {
  text-decoration: none;
}

nav .nav-bottom-item .menuItems .left-list-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

nav .nav-bottom-item .menuItems .left-list-items li {
  padding-right: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items li:last-child {
  padding-left: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items li:hover .my-dropdown {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

nav .nav-bottom-item .menuItems .left-list-items li:hover .arrow {
  opacity: 1;
}

nav .nav-bottom-item .menuItems .left-list-items .first-badge::before {
  content: "Sale";
  position: absolute;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 2px 8px;
  right: 64.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .first-badge-1::before {
  content: "Sale";
  position: absolute;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 2px 8px;
  right: 64.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .second-badge::before {
  content: "Hot";
  position: absolute;
  background-color: #f3bc48;
  border-radius: 3px;
  padding: 2px 8px;
  right: 58.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .second-badge-1::before {
  content: "Hot";
  position: absolute;
  background-color: #f3bc48;
  border-radius: 3px;
  padding: 2px 8px;
  right: 58.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item {
  border-right: 3px solid #000;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item::before {
  content: "New";
  position: absolute;
  background-color: #1dbdb8;
  border-radius: 3px;
  padding: 2px 8px;
  right: 51.5%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item-1::before {
  content: "New";
  position: absolute;
  background-color: #1dbdb8;
  border-radius: 3px;
  padding: 2px 8px;
  right: 51.5%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .arrow {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown {
  position: absolute;
  top: 91%;
  left: 0;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #787878;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
  background-color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox {
  padding-top: 40px;
  padding-left: 8px;
  width: 20%;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox h6:hover {
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox .imgBox {
  padding-top: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul {
  padding-top: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li {
  padding-top: 5px;
  padding-left: 0;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li::before {
  content: ">";
  position: absolute;
  top: 5px;
  display: none;
  left: 0;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover {
  padding-left: 13px;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover::before {
  display: block;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover a {
  color: #17a8a3;
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul h6 {
  padding: 0.5rem 1rem;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul h6:hover {
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link::before {
  content: ">";
  position: absolute;
  top: 5px;
  display: none;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover {
  padding-left: 13px;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover::before {
  display: block;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover a {
  color: #17a8a3;
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-heading-2 {
  padding-top: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item {
  padding: 20px 0 50px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-1 {
  background-color: #fafafa;
  width: 15%;
  padding-bottom: 450px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-2 {
  width: 15%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-3 {
  width: 15%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-4 {
  width: 18%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 {
  width: 30%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content {
  padding-left: 15px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span .old-money {
  padding-right: 5px;
  text-decoration: line-through;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span .new-money {
  padding-left: 5px;
  color: #dc3545;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content .add-product a {
  font-size: 12px;
  font-weight: 500;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product-2 {
  padding-top: 60px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 {
  padding-top: 35px;
  padding-left: 80px;
  padding-right: 20px;
  position: relative;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box::after {
  content: "";
  position: absolute;
  width: 385px;
  height: 222px;
  background-color: #000;
  left: 16.5%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box:hover::after {
  opacity: 0.6;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box img {
  width: 100%;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content a {
  color: #17a8a3;
  text-decoration: underline;
  width: 50%;
  padding-left: 60px;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox {
  position: relative;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .arrow {
  left: 30%;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown {
  top: 18px;
  border: 1px solid #787878;
  overflow-y: visible;
  padding: 20px;
  width: 160px;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul li {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul li a {
  padding: 0.2rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:after {
  content: ">";
  position: absolute;
  right: 0;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown .my-dropdown {
  opacity: 0;
  top: 180%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:hover .my-dropdown {
  padding: 10px;
  opacity: 1;
  -webkit-transform: translate(120px, -84px);
          transform: translate(120px, -84px);
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:hover .my-dropdown li {
  padding-top: 5px;
  padding-bottom: 5px;
}

nav .nav-bottom-item .right-side .iconBox img {
  height: 50px;
}

nav .nav-bottom-item .right-side .right-list-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-left: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li {
  padding-left: 40px;
}

nav .nav-bottom-item .right-side .right-list-items li a {
  font-size: 20px;
}

nav .nav-bottom-item .right-side .right-list-items li a .fa-times {
  display: none;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown {
  z-index: 10;
  position: absolute;
  top: 91%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #787878;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  display: none;
  background-color: #fff;
  padding-bottom: 30px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .arrow {
  position: absolute;
  right: 13.7%;
  top: -3%;
  font-size: 17px;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form {
  margin-top: 30px;
  position: relative;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-bottom: 15px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus {
  outline: 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus::-webkit-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus:-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateX(50px);
  opacity: 0;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus::-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateX(50px);
  opacity: 0;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus::placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .blur::-webkit-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .blur:-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateX(0);
  opacity: 1;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .blur::-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateX(0);
  opacity: 1;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .blur::placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .btn-search {
  position: absolute;
  right: 2px;
  top: -2px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content {
  padding-top: 60px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .content-heading a {
  font-size: 12px;
  font-weight: 400;
  color: #17a8a3;
  text-decoration: underline;
  text-underline-position: under;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .imgBox img {
  width: 100%;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-heading {
  padding-top: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-heading p a {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  line-height: 24px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span .old-money {
  padding-right: 5px;
  text-decoration: line-through;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span .new-money {
  padding-left: 5px;
  color: #dc3545;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .red {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .red::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #dc3545;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .beige {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .beige::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: beige;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .white {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .white::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .darkseagreen {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .darkseagreen::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: darkseagreen;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .mediumpurple {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .mediumpurple::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: mediumpurple;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .pink {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .pink::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: pink;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .grey {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .grey::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .add-product a {
  font-size: 14px;
  font-weight: 500;
  color: #17a8a3;
}

nav .nav-bottom-item .right-side .right-list-items .fa-shopping-cart {
  position: relative;
}

nav .nav-bottom-item .right-side .right-list-items .fa-shopping-cart::after {
  content: "0";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #dc3545;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  padding-top: 2px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

#intro .carousel {
  cursor: pointer;
}

#intro .carousel .mb-img {
  display: none;
}

#intro .carousel:hover .slider-icon {
  opacity: 1;
}

#intro .carousel .carousel-caption {
  margin-bottom: 5%;
}

#intro .carousel .carousel-caption h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

#intro .carousel .carousel-caption h5 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

#intro .carousel .carousel-caption p {
  margin-bottom: 35px;
}

#intro .carousel .carousel-caption .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0 50px;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#intro .carousel .carousel-caption .btnBox .btn:hover {
  background-color: #fff;
  color: #000;
}

#intro .carousel .first-carousel {
  text-align: left;
}

#intro .carousel .second-carousel {
  margin-bottom: 100px;
}

#intro .carousel .second-carousel .btnBox .btn {
  padding: 0 50px;
  background-color: #17a8a3;
  border: 1px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
}

#intro .carousel .second-carousel .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#intro .carousel .last-carousel {
  margin-bottom: 150px;
}

#intro .carousel .last-carousel .btnBox .btn {
  padding: 0 50px;
  background-color: #17a8a3;
  border: 1px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
}

#intro .carousel .last-carousel .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#intro .slider-icon {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-arrivals .section-heading {
  padding-top: 80px;
  margin-bottom: 25px;
  text-align: center;
}

#new-arrivals .section-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

#new-arrivals .overlay-content {
  position: relative;
  top: -440px;
  padding: 50px 20px 0 70px;
}

#new-arrivals .overlay-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

#new-arrivals .overlay-content p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 35px;
}

#new-arrivals .overlay-content .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 0 35px;
  background-color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#new-arrivals .overlay-content .btnBox .btn:hover {
  background-color: #17a8a3;
  border-color: #17a8a3;
  color: #fff;
}

#new-arrivals .owl-item {
  cursor: pointer;
}

#new-arrivals .owl-prev {
  position: absolute;
  left: -100px;
  font-size: 60px;
  top: 30%;
}

#new-arrivals .owl-next {
  position: absolute;
  right: -100px;
  font-size: 60px;
  top: 30%;
}

#most-popular .section-heading {
  text-align: center;
}

#most-popular .section-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

#most-popular .section-heading p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

#most-popular .linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: -42px;
}

#most-popular .linkBox a {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 12px;
  font-weight: 400;
  color: #17a8a3;
}

#most-popular .section-content {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#most-popular .section-content .imgBox {
  cursor: pointer;
}

#most-popular .section-content .imgBox img {
  width: 100%;
}

#most-popular .section-content .content-description {
  padding: 35px 0 0 60px;
}

#most-popular .section-content .content-description h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

#most-popular .section-content .content-description p {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
  margin-bottom: 30px;
}

#most-popular .section-content .content-description .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 0 35px;
  background-color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#most-popular .section-content .content-description .btnBox .btn:hover {
  background-color: #17a8a3;
  border-color: #17a8a3;
  color: #fff;
}

#new-products .section-heading {
  margin-top: 100px;
  text-align: center;
}

#new-products .section-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

#new-products .linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: -35px;
}

#new-products .linkBox a {
  text-decoration: underline;
  text-underline-position: under;
  font-size: 12px;
  font-weight: 400;
  color: #17a8a3;
}

#new-products .my-carousel {
  padding-bottom: 30px;
}

#new-products .my-carousel .slick-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-size: 45px;
  font-weight: 600;
  color: #000;
  padding-left: 30px;
}

#new-products .my-carousel .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-size: 45px;
  font-weight: 600;
  color: #000;
  position: absolute;
  left: -30px;
}

#new-products .my-carousel .product-item {
  margin-left: 25px;
}

#new-products .my-carousel .product-item:hover .product-icon-hover {
  opacity: 1;
}

#new-products .my-carousel .product-item:hover .btnBox {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 1;
}

#new-products .my-carousel .product-item:hover .main-img {
  display: none;
}

#new-products .my-carousel .product-item:hover .hover-img {
  display: block;
}

#new-products .my-carousel .product-item img {
  cursor: pointer;
}

#new-products .my-carousel .product-item .hover-img {
  display: none;
}

#new-products .my-carousel .product-item .product-title {
  padding-top: 20px;
}

#new-products .my-carousel .product-item .product-title a {
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

#new-products .my-carousel .product-item .product-title a:hover {
  text-decoration: none;
}

#new-products .my-carousel .product-item .product-price span {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

#new-products .my-carousel .product-item .product-price span .old-money {
  padding-right: 5px;
  text-decoration: line-through;
}

#new-products .my-carousel .product-item .product-price span .new-money {
  padding-left: 5px;
  color: #dc3545;
}

#new-products .my-carousel .product-item .product-color .colorBox {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#new-products .my-carousel .product-item .product-color .colorBox .red {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .red::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #dc3545;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .beige {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .beige::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: beige;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .white {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .white::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .darkseagreen {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .darkseagreen::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: darkseagreen;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .mediumpurple {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .mediumpurple::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: mediumpurple;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .pink {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .pink::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: pink;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-color .colorBox .grey {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

#new-products .my-carousel .product-item .product-color .colorBox .grey::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

#new-products .my-carousel .product-item .product-icon {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 230px;
  padding: 4px 8px 2px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
}

#new-products .my-carousel .product-item .product-icon-hover {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  padding: 4px 8px 2px;
  font-size: 20px;
  position: absolute;
  top: 55px;
  left: 228px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-products .my-carousel .product-item .btnBox {
  position: absolute;
  left: 38px;
  bottom: 115px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-products .my-carousel .product-item .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0 65px;
  background-color: #17a8a3;
  border: 1px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#new-products .my-carousel .product-item .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#new-products .my-carousel .product-item-2 .product-icon {
  left: 510px;
}

#new-products .my-carousel .product-item-2 .product-icon-hover {
  left: 510px;
}

#new-products .my-carousel .product-item-2 .btnBox {
  left: 315px;
}

#new-products .my-carousel .product-item-2 .btnBox .btn {
  padding: 0 50px;
}

#new-products .my-carousel .product-item-3 .product-icon {
  left: 785px;
}

#new-products .my-carousel .product-item-3 .product-icon-hover {
  left: 783px;
}

#new-products .my-carousel .product-item-3 .btnBox {
  left: 595px;
}

#new-products .my-carousel .product-item-3 .btnBox .btn {
  padding: 0 50px;
}

#new-products .my-carousel .product-item-4 .product-icon {
  left: 1060px;
}

#new-products .my-carousel .product-item-4 .product-icon-hover {
  left: 1058px;
}

#new-products .my-carousel .product-item-4 .btnBox {
  left: 875px;
}

#new-products .my-carousel .product-item-4 .btnBox .btn {
  padding: 0 50px;
}

#new-products .my-carousel .product-item-5 .product-icon {
  left: 1340px;
}

#new-products .my-carousel .product-item-5 .product-icon-hover {
  left: 1340px;
}

#new-products .my-carousel .product-item-5 .btnBox {
  left: 1150px;
}

#new-products .my-carousel .product-item-5 .btnBox .btn {
  padding: 0 50px;
}

#excellent-quality {
  background-color: #fafafa;
  margin-top: 115px;
}

#excellent-quality .section-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#excellent-quality .section-content .content-items h2 {
  font-size: 48px;
  font-weight: 600;
  color: #17a8a3;
  margin-bottom: 12px;
}

#excellent-quality .section-content .content-items p {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin-bottom: 35px;
}

#excellent-quality .section-content .content-items .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0 50px;
  background-color: #17a8a3;
  border: 1px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#excellent-quality .section-content .content-items .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#excellent-quality .section-img {
  position: relative;
}

#excellent-quality .section-img .video-icon-box {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 80px;
}

#excellent-quality .section-img .video-icon-box a {
  color: #fff;
}

#image-gallery {
  margin-top: 100px;
}

#image-gallery .section-heading {
  text-align: center;
}

#image-gallery .section-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
}

#image-gallery .section-heading p {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin-bottom: 35px;
}

#image-gallery .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#image-gallery .section-content a {
  width: 25%;
  position: relative;
}

#image-gallery .section-content a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00e";
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}

#image-gallery .section-content a::after {
  position: absolute;
  content: "";
  width: 380px;
  height: 380px;
  background-color: #000;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#image-gallery .section-content a:hover::after {
  opacity: 0.4;
}

#image-gallery .section-content a:hover::before {
  opacity: 1;
}

#image-gallery .btnBox {
  margin-top: 55px;
  text-align: center;
}

#image-gallery .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 0 50px;
  background-color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#image-gallery .btnBox .btn:hover {
  background-color: #17a8a3;
  border-color: #17a8a3;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  nav .slide-item .iconBox {
    display: none;
  }
  nav .nav-bottom-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .nav-bottom-item a:hover {
    text-decoration: none;
  }
  nav .nav-bottom-item .left-responsive-icons {
    display: inline-block;
    position: relative;
    top: 20px;
  }
  nav .nav-bottom-item .left-responsive-icons i {
    color: #000;
    font-size: 25px;
    padding-right: 20px;
  }
  nav .nav-bottom-item .right-responsive-icons {
    display: inline-block;
    position: relative;
    top: 20px;
  }
  nav .nav-bottom-item .right-responsive-icons i {
    color: #000;
    font-size: 25px;
    padding-left: 20px;
  }
  nav .nav-bottom-item .logoBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-bottom-item .left-side {
    background-color: #fff;
    padding: 20px 0;
    display: none;
    opacity: 1;
  }
  nav .nav-bottom-item .menuItems .left-list-items {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-bottom-item .menuItems .left-list-items .arrow {
    display: none;
  }
  nav .nav-bottom-item .menuItems .left-list-items .my-dropdown {
    display: none;
  }
  nav .nav-bottom-item .menuItems .left-list-items li {
    padding: 10px 0;
  }
  nav .nav-bottom-item .menuItems .left-list-items li:last-child {
    padding: 10px 0;
  }
  nav .nav-bottom-item .menuItems .left-list-items .last-list-item {
    border-right: none;
  }
  nav .nav-bottom-item .menuItems .right-list-items {
    display: none;
  }
  nav .nav-bottom-item .my-badge::before {
    display: none;
  }
  nav .nav-bottom-item .right-side .iconBox {
    display: none;
  }
  #intro .carousel .first-carousel h2 {
    font-size: 36px;
    text-align: center;
  }
  #intro .carousel .first-carousel p {
    text-align: center;
  }
  #intro .carousel .first-carousel .btnBox {
    text-align: center;
  }
  #intro .carousel .second-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .second-carousel h2 {
    font-size: 36px;
  }
  #intro .carousel .last-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .last-carousel h2 {
    font-size: 36px;
  }
  #new-arrivals .owl-nav {
    display: none;
  }
  #new-arrivals .overlay-content {
    top: -400px;
    padding-left: 15px;
  }
  #most-popular .section-content .imgBox img {
    width: auto;
  }
  #most-popular .linkBox {
    display: block;
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }
  #new-products .my-carousel .product-item .product-icon {
    display: none;
  }
  #new-products .my-carousel .product-item .product-icon-hover {
    display: none;
  }
  #new-products .my-carousel .product-item .btnBox {
    display: none;
  }
  #excellent-quality .section-img .video-icon-box {
    top: 43%;
    left: 43%;
  }
}

@media screen and (max-width: 768px) {
  #intro .carousel .first-carousel {
    margin-bottom: 20px;
  }
  #intro .carousel .first-carousel h2 {
    font-size: 30px;
    text-align: center;
  }
  #intro .carousel .first-carousel p {
    text-align: center;
  }
  #intro .carousel .first-carousel .btnBox {
    text-align: center;
  }
  #intro .carousel .second-carousel {
    margin-bottom: 20px;
  }
  #intro .carousel .second-carousel h2 {
    font-size: 30px;
  }
  #intro .carousel .last-carousel {
    margin-bottom: 20px;
  }
  #intro .carousel .last-carousel h2 {
    font-size: 30px;
  }
  #new-arrivals .owl-nav {
    display: none;
  }
  #new-arrivals .overlay-content {
    top: -580px;
    padding-left: 15px;
  }
  #excellent-quality .section-img {
    height: 100%;
  }
  #excellent-quality .section-img img {
    height: 100%;
  }
  #excellent-quality .section-img .video-icon-box {
    top: 35%;
    left: 40%;
  }
}

@media screen and (max-width: 578px) {
  nav .slide-item {
    display: none;
  }
  nav .nav-bottom-item .left-responsive-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-bottom-item .right-responsive-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #intro .carousel .ds-img {
    display: none;
  }
  #intro .carousel .mb-img {
    display: block;
  }
  #intro .carousel .first-carousel h2 {
    font-size: 19px;
    text-align: center;
  }
  #intro .carousel .first-carousel p {
    text-align: center;
  }
  #intro .carousel .first-carousel .btnBox {
    text-align: center;
  }
  #intro .carousel .second-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .second-carousel h2 {
    font-size: 19px;
  }
  #intro .carousel .last-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .last-carousel h2 {
    font-size: 19px;
  }
  #new-arrivals .owl-nav {
    display: none;
  }
  #new-arrivals .overlay-content {
    top: -300px;
    padding-left: 15px;
  }
  #excellent-quality .content-items {
    text-align: center;
    margin-bottom: 20px;
  }
  #excellent-quality .section-img .video-icon-box {
    top: 30%;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
