html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 3000px;
}

nav {
  background-color: #fff;
  z-index: 11;
  position: relative;
  margin-top: 10px;
}

nav .slide-item {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

nav .slide-item .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .slide-item .textBox p {
  margin: 0;
}

nav .slide-item .iconBox {
  padding-left: 30px;
}

nav .slide-item .iconBox .icon {
  padding-right: 10px;
}

nav .slide-item .iconBox .icon img {
  height: 30px;
}

nav .slide-item .iconBox .lang {
  border-right: 1px solid #787878;
  padding-right: 15px;
}

nav .slide-item .iconBox .currency {
  padding-left: 15px;
}

nav .nav-bottom-item {
  background-color: #fff;
  padding: 20px 30px;
  display: flex;
}

nav .nav-bottom-item .left-responsive-icons {
  display: none;
}

nav .nav-bottom-item .right-responsive-icons {
  display: none;
}

nav .nav-bottom-item .logoBox img {
  height: 60px;
}

nav .nav-bottom-item .menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-bottom-item .menuItems a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

nav .nav-bottom-item .menuItems a:hover {
  text-decoration: none;
}

nav .nav-bottom-item .menuItems .left-list-items {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}

nav .nav-bottom-item .menuItems .left-list-items li {
  padding-right: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items li:last-child {
  padding-left: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items li:hover .my-dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

nav .nav-bottom-item .menuItems .left-list-items li:hover .arrow {
  opacity: 1;
}

nav .nav-bottom-item .menuItems .left-list-items .first-badge::before {
  content: "Sale";
  position: absolute;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 2px 8px;
  right: 64.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .first-badge-1::before {
  content: "Sale";
  position: absolute;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 2px 8px;
  right: 64.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .second-badge::before {
  content: "Hot";
  position: absolute;
  background-color: #f3bc48;
  border-radius: 3px;
  padding: 2px 8px;
  right: 58.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .second-badge-1::before {
  content: "Hot";
  position: absolute;
  background-color: #f3bc48;
  border-radius: 3px;
  padding: 2px 8px;
  right: 58.6%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item {
  border-right: 3px solid #000;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item::before {
  content: "New";
  position: absolute;
  background-color: #1dbdb8;
  border-radius: 3px;
  padding: 2px 8px;
  right: 51.5%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .last-list-item-1::before {
  content: "New";
  position: absolute;
  background-color: #1dbdb8;
  border-radius: 3px;
  padding: 2px 8px;
  right: 51.5%;
  top: 50px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 10px;
}

nav .nav-bottom-item .menuItems .left-list-items .arrow {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown {
  position: absolute;
  top: 91%;
  left: 0;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  border-top: 1px solid #787878;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 4;
  background-color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox {
  padding-top: 40px;
  padding-left: 8px;
  width: 20%;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox h6:hover {
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox .imgBox {
  padding-top: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul {
  padding-top: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li {
  padding-top: 5px;
  padding-left: 0;
  position: relative;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li::before {
  content: ">";
  position: absolute;
  top: 5px;
  display: none;
  left: 0;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover {
  padding-left: 13px;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover::before {
  display: block;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li:hover a {
  color: #17a8a3;
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .teaBox ul li a {
  display: flex;
  padding: 0.2rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul h6 {
  padding: 0.5rem 1rem;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul h6:hover {
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link {
  padding: 0;
  position: relative;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link::before {
  content: ">";
  position: absolute;
  top: 5px;
  display: none;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover {
  padding-left: 13px;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover::before {
  display: block;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link:hover a {
  color: #17a8a3;
  text-decoration: underline;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown ul .dropdown-link a {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-heading-2 {
  padding-top: 30px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item {
  padding: 20px 0 50px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-1 {
  background-color: #fafafa;
  width: 15%;
  padding-bottom: 450px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-2 {
  width: 15%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-3 {
  width: 15%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-4 {
  width: 18%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 {
  width: 30%;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content {
  padding-left: 15px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span .old-money {
  padding-right: 5px;
  text-decoration: line-through;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content span .new-money {
  padding-left: 5px;
  color: #dc3545;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product .product-content .add-product a {
  font-size: 12px;
  font-weight: 500;
  color: #17a8a3;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-5 .product-2 {
  padding-top: 60px;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 {
  padding-top: 35px;
  padding-left: 80px;
  padding-right: 20px;
  position: relative;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box::after {
  content: "";
  position: absolute;
  width: 385px;
  height: 222px;
  background-color: #000;
  left: 16.5%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box:hover::after {
  opacity: 0.6;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-img-box img {
  width: 100%;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

nav .nav-bottom-item .menuItems .left-list-items .my-dropdown .sub-item-6 .absolute-product-content a {
  color: #17a8a3;
  text-decoration: underline;
  width: 50%;
  padding-left: 60px;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox {
  position: relative;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .arrow {
  left: 30%;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown {
  top: 18px;
  border: 1px solid #787878;
  overflow-y: visible;
  padding: 20px;
  width: 160px;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul li {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul li a {
  padding: 0.2rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:after {
  content: ">";
  position: absolute;
  right: 0;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown .my-dropdown {
  opacity: 0;
  top: 180%;
  transition: all 0.5s;
  background-color: #fff;
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:hover .my-dropdown {
  padding: 10px;
  opacity: 1;
  transform: translate(120px, -84px);
}

nav .nav-bottom-item .menuItems .left-list-items .dropDownBox .my-dropdown ul .nested-dropdown:hover .my-dropdown li {
  padding-top: 5px;
  padding-bottom: 5px;
}

nav .nav-bottom-item .right-side .iconBox img {
  height: 50px;
}

nav .nav-bottom-item .right-side .right-list-items {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li {
  padding-left: 40px;
}

nav .nav-bottom-item .right-side .right-list-items li a {
  font-size: 20px;
}

nav .nav-bottom-item .right-side .right-list-items li a .fa-times {
  display: none;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown {
  z-index: 10;
  position: absolute;
  top: 91%;
  left: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #787878;
  transform: translateY(10px);
  display: none;
  background-color: #fff;
  padding-bottom: 30px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .arrow {
  position: absolute;
  right: 13.7%;
  top: -3%;
  font-size: 17px;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form {
  margin-top: 30px;
  position: relative;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-bottom: 15px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus {
  outline: 0px;
  -webkit-appearance: none;
  box-shadow: none;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form input:focus::placeholder {
  transition: all 0.5s;
  transform: translateX(50px);
  opacity: 0;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .blur::placeholder {
  transition: all 0.5s;
  transform: translateX(0);
  opacity: 1;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown form .btn-search {
  position: absolute;
  right: 2px;
  top: -2px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content {
  padding-top: 60px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .content-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .content-heading a {
  font-size: 12px;
  font-weight: 400;
  color: #17a8a3;
  text-decoration: underline;
  text-underline-position: under;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .imgBox img {
  width: 100%;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-heading {
  padding-top: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-heading p a {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  line-height: 24px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span .old-money {
  padding-right: 5px;
  text-decoration: line-through;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-price span .new-money {
  padding-left: 5px;
  color: #dc3545;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox {
  padding-top: 15px;
  display: flex;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .red {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .red::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #dc3545;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .beige {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .beige::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: beige;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .white {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .white::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .darkseagreen {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .darkseagreen::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: darkseagreen;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .mediumpurple {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .mediumpurple::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: mediumpurple;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .pink {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .pink::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: pink;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .grey {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #787878;
  font-size: 0;
  cursor: pointer;
  margin-right: 10px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .product-color .colorBox .grey::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 50%;
  top: 1.5px;
  left: 1.5px;
}

nav .nav-bottom-item .right-side .right-list-items li .my-dropdown .dropdown-content .add-product a {
  font-size: 14px;
  font-weight: 500;
  color: #17a8a3;
}

nav .nav-bottom-item .right-side .right-list-items .fa-shopping-cart {
  position: relative;
}

nav .nav-bottom-item .right-side .right-list-items .fa-shopping-cart::after {
  content: "0";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #dc3545;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  padding-top: 2px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

#intro .carousel {
  cursor: pointer;
}

#intro .carousel .mb-img {
  display: none;
}

#intro .carousel:hover .slider-icon {
  opacity: 1;
}

#intro .carousel .carousel-caption {
  margin-bottom: 5%;
}

#intro .carousel .carousel-caption h2 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

#intro .carousel .carousel-caption h5 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

#intro .carousel .carousel-caption p {
  margin-bottom: 35px;
}

#intro .carousel .carousel-caption .btnBox .btn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0 50px;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  border-radius: 0;
  line-height: 42px;
}

#intro .carousel .carousel-caption .btnBox .btn:hover {
  background-color: #fff;
  color: #000;
}

#intro .carousel .first-carousel {
  text-align: left;
}

#intro .carousel .second-carousel {
  margin-bottom: 100px;
}

#intro .carousel .second-carousel .btnBox .btn {
  padding: 0 50px;
  background-color: #17a8a3;
  border: 2px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
}

#intro .carousel .second-carousel .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#intro .carousel .last-carousel {
  margin-bottom: 150px;
}

#intro .carousel .last-carousel .btnBox .btn {
  padding: 0 50px;
  background-color: #17a8a3;
  border: 2px solid #17a8a3;
  text-transform: uppercase;
  border-radius: 0;
}

#intro .carousel .last-carousel .btnBox .btn:hover {
  background-color: #117b77;
  border-color: #117b77;
  color: #fff;
}

#intro .slider-icon {
  opacity: 0;
  transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  nav .slide-item .iconBox {
    display: none;
  }
  nav .nav-bottom-item {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .nav-bottom-item a:hover {
    text-decoration: none;
  }
  nav .nav-bottom-item .left-responsive-icons {
    display: inline-block;
    position: relative;
    top: 20px;
  }
  nav .nav-bottom-item .left-responsive-icons i {
    color: #000;
    font-size: 25px;
    padding-right: 20px;
  }
  nav .nav-bottom-item .right-responsive-icons {
    display: inline-block;
    position: relative;
    top: 20px;
  }
  nav .nav-bottom-item .right-responsive-icons i {
    color: #000;
    font-size: 25px;
    padding-left: 20px;
  }
  nav .nav-bottom-item .logoBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav .nav-bottom-item .left-side {
    background-color: #fff;
    padding: 20px 0;
    display: none;
    opacity: 1;
  }
  nav .nav-bottom-item .menuItems .left-list-items {
    padding: 0;
    flex-direction: column;
  }
  nav .nav-bottom-item .menuItems .left-list-items .arrow {
    display: none;
  }
  nav .nav-bottom-item .menuItems .left-list-items .my-dropdown {
    display: none;
  }
  nav .nav-bottom-item .menuItems .left-list-items li {
    padding: 10px 0;
  }
  nav .nav-bottom-item .menuItems .left-list-items li:last-child {
    padding: 10px 0;
  }
  nav .nav-bottom-item .menuItems .left-list-items .last-list-item {
    border-right: none;
  }
  nav .nav-bottom-item .menuItems .right-list-items {
    display: none;
  }
  nav .nav-bottom-item .my-badge::before {
    display: none;
  }
  nav .nav-bottom-item .right-side .iconBox {
    display: none;
  }
}

@media screen and (max-width: 578px) {
  nav .slide-item {
    display: none;
  }
  nav .nav-bottom-item .left-responsive-icons {
    display: flex;
  }
  nav .nav-bottom-item .right-responsive-icons {
    display: flex;
  }
  #intro .carousel .ds-img {
    display: none;
  }
  #intro .carousel .mb-img {
    display: block;
  }
  #intro .carousel .first-carousel h2 {
    font-size: 19px;
    text-align: center;
  }
  #intro .carousel .first-carousel p {
    text-align: center;
  }
  #intro .carousel .first-carousel .btnBox {
    text-align: center;
  }
  #intro .carousel .second-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .second-carousel h2 {
    font-size: 19px;
  }
  #intro .carousel .last-carousel {
    margin-bottom: 50px;
  }
  #intro .carousel .last-carousel h2 {
    font-size: 19px;
  }
}
