#product-detail {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  .section-img {
    .small-img-box {
      cursor: pointer;
      .second-small-img {
        margin-top: 15px;
      }
    }
    .big-img-box {
      padding-left: 30px;
      cursor: pointer;
      .second-big-img {
        display: none;
      }
    }
  }
  .custom-block {
    margin-top: 20px;
    text-align: center;
    h3 {
      @include text(16px, 500, $text-color);
    }
    p {
      margin-top: 20px;
      @include text(12px, 400, $secondary-color);
    }
  }
  .section-content {
    .product-title {
      h1 {
        @include text(24px, 600, $text-color);
        line-height: 30px;
      }
    }
    .product-group {
      margin-top: 10px;
      margin-bottom: 25px;
      display: flex;
      .stars {
        cursor: pointer;
        .fa-star {
          color: $warning-color;
        }
      }
      .review {
        cursor: pointer;
        @include text(12px, 400, $secondary-color);
        padding-left: 10px;
        align-self: center;
      }
      .product-sold {
        padding-left: 25px;
        color: $danger-color;
        .sold-content {
          padding-left: 5px;
          @include text(12px, 400, $danger-color);
        }
      }
    }
    .product-detail {
      label {
        @include text(12px, 500, $text-color);
        min-width: 120px;
      }
      span {
        @include text(12px, 400, $secondary-color);
      }
    }
    .product-price {
      margin-top: 20px;
      span {
        @include text(18px, 400, $text-color);
      }
    }
    .product-description {
      margin-top: 20px;
      p {
        @include text(12px, 400, $secondary-color);
      }
    }
    .product-size {
      margin-top: 25px;
      .size-label {
        label {
          @include text(12px, 500, $text-color);
          padding-right: 5px;
        }
        span {
          @include text(12px, 400, $secondary-color);
        }
      }
      .size-content {
        margin-top: 15px;
        span {
          @include text(14px, 400, $text-color);
          border: 1px solid $text-color;
          border-radius: 5px;
          padding: 10px 15px;
          cursor: pointer;
        }
      }
    }
    .error-msg {
      margin-top: 25px;
      display: none;
      .erro-icon {
        color: $danger-color;
        font-size: 20px;
      }
      .error-content {
        @include text(12px, 400, $secondary-color);
        font-style: italic;
        margin-left: 10px;
      }
    }
    .product-quantity {
      margin-top: 25px;
      label {
        @include text(12px, 500, $text-color);
      }
      input {
        width: 140px;
        border: 1px solid $secondary-color;
        border-radius: 0;
        color: $secondary-color;
        &:focus {
          outline: 0px;
          -webkit-appearance: none;
          box-shadow: none;
        }
      }
    }
    .sub-total {
      span {
        @include text(12px, 400, $secondary-color);
      }
    }
    .buttons {
      margin-top: 15px;
      .firstBtnBox {
        .btn-add-to-cart {
          @include text(14px, 600, $primary-color);
          @include btn(0, $link-color, $link-color);
          width: 100%;
          line-height: 42px;
          &:hover {
            @include btnHover($link-color);
          }
        }
        .btn-remove-wishlist {
          @include text(14px, 600, $primary-color);
          @include btn(0, $danger-color, $danger-color);
          width: 100%;
          line-height: 42px;
          .fa-heart {
            padding-right: 10px;
          }
        }
      }
      .secondBtnBox {
        .btn-buy {
          margin-top: 10px;
          padding: 0;
          @include text(14px, 600, $link-color);
          @include btn(0, $primary-color, $link-color);
          width: 100%;
          cursor: default;
          pointer-events: none;
          line-height: 42px;
          &:hover {
            @include btnHover($primary-color);
          }
        }
      }
      .form-check {
        margin-top: 10px;
        input {
          cursor: pointer;
        }
        label {
          cursor: pointer;
          @include text(14px, 400, $secondary-color);
          transition: all 0.5s;
          span {
            text-decoration: underline;
            text-underline-position: under;
          }
          &:hover {
            color: $link-color;
          }
        }
        &:hover {
          label {
            color: $link-color;
          }
        }
      }
    }
  }
  .viewingBox {
    margin-top: 15px;
    width: 100%;
    background-color: $bg-color;
    text-align: center;
    padding: 10px 0;
    span {
      @include text(12px, 400, $secondary-color);
    }
  }
  .shareBox {
    margin-top: 15px;
    display: flex;
    .shareIcon {
      padding-right: 15px;
      transition: all 0.5s;
      a {
        color: $text-color;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
#product-policies {
  margin-top: 50px;
  .section-content {
    user-select: none;
    .contentBox {
      text-align: center;
      .iconBox {
        @include flexy-box();
        margin-bottom: 30px;
      }
      h3 {
        @include text(18px, 500, $text-color);
        margin-bottom: 25px;
      }
      p {
        @include text(12px, 400, $secondary-color);
        a {
          color: $link-color;
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
  }
}
#all-product-details {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  h2 {
    @include text(24px, 600, $text-color);
  }
  .detail-list {
    display: flex;
    margin-top: 20px;
    .detail-list-item {
      width: 25%;
      padding: 19px 15px;
      border: 1px solid $text-color;
      text-align: center;
      cursor: pointer;
      &:not(:last-child) {
        border-right: none;
      }
      span {
        @include text(14px, 600, $secondary-color);
      }
    }
  }
  .detail-list-content {
    #description-content {
      margin: 70px 80px 0;
      display: none;
      h3 {
        @include text(18px, 600, $text-color);
        margin-bottom: 20px;
      }
      p {
        @include text(12px, 400, $secondary-color);
      }
      .first-description {
        padding-right: 30px;
      }
    }
    #customer-content {
      display: none;
      margin-top: 30px;
      .content-header {
        background-color: $bg-color;
        width: 100%;
        padding: 15px;
        @include flexy-box();
        .content-rating {
          padding-right: 10px;
          .fa-star {
            color: $warning-color;
          }
        }
        .content-caption {
          span {
            @include text(12px, 400, $secondary-color);
          }
        }
        .content-action {
          padding-left: 25px;
          cursor: pointer;
          .action-text {
            @include text(14px, 500, $text-color);
            text-decoration: underline;
            text-underline-position: under;
            padding-left: 5px;
            transition: all 0.5s;
            &:hover {
              color: $link-color;
            }
          }
        }
      }
      .review-form {
        display: none;
        margin-top: 20px;
        label {
          @include text(13px, 500, $text-color);
          cursor: pointer;
        }
        input {
          border-radius: 0;
          border-color: $secondary-color;
          &::placeholder {
            @include text(12px, 500, $secondary-color);
          }
          &:focus {
            outline: 0px;
            -webkit-appearance: none;
            box-shadow: none;
            &::placeholder {
              transition: all 0.5s;
              transform: translateX(50px);
              opacity: 0;
            }
          }
        }
        textarea {
          border-radius: 0;
          border-color: $secondary-color;
          &::placeholder {
            @include text(12px, 500, $secondary-color);
          }
          &:focus {
            outline: 0px;
            -webkit-appearance: none;
            box-shadow: none;
            &::placeholder {
              transition: all 0.5s;
              opacity: 0;
            }
          }
        }
        .blur {
          &::placeholder {
            transition: all 0.5s;
            transform: translateX(0);
            opacity: 1;
          }
        }
        .ratingBox {
          margin: 20px 0 15px;
          cursor: pointer;
          .rating-label {
            @include text(13px, 500, $text-color);
          }
          .rating-stars {
            padding-left: 10px;
            color: $secondary-color;
            font-size: 13px;
            .fa-star {
              &:hover {
                color: $link-color;
              }
            }
          }
        }
        .btn-submit {
          @include text(14px, 600, $primary-color);
          @include btn(0 50px, $link-color, $link-color);
          line-height: 42px;
          &:hover {
            @include btnHover($link-color);
          }
        }
        .error-msg {
          width: 100%;
          background-color: $danger-color;
          @include text(13px, 500, $primary-color);
          padding: 10px;
          margin-bottom: 10px;
        }
      }
      .reviewsBox {
        margin-top: 20px;
        padding: 30px 0 20px;
        border-top: 1px solid $secondary-color;
        .review-rating {
          .fa-star {
            color: $warning-color;
          }
        }
        .review-title {
          margin-top: 10px;
          h3 {
            @include text(18px, 600, $text-color);
          }
        }
        .review-date {
          span {
            @include text(12px, 400, $secondary-color);
            font-style: italic;
          }
        }
        .review-content {
          margin-top: 15px;
          p {
            @include text(14px, 400, $secondary-color);
          }
        }
        .review-footer {
          a {
            @include text(14px, 400, $secondary-color);
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
    #shipping-content {
      display: none;
      .section-content {
        margin-top: 30px;
        .content-item {
          h3 {
            @include text(14px, 600, $text-color);
            font-style: italic;
          }
          p {
            @include text(12px, 400, $secondary-color);
          }
        }
      }
    }
    #additional-content {
      display: none;
      .section-content {
        margin-top: 40px;
        p {
          @include text(12px, 400, $secondary-color);
        }
      }
      .section-list {
        margin-top: 30px;
        .section-list-item {
          padding: 10px;
          label {
            @include text(14px, 600, $text-color);
            min-width: 150px;
          }
          span {
            @include text(12px, 400, $secondary-color);
            padding-left: 25px;
          }
          &:nth-child(odd) {
            background-color: $bg-color;
          }
        }
      }
    }
  }
}
