@media screen and (max-width: 1024px) {
  nav {
    .slide-item {
      .iconBox {
        display: none;
      }
    }
    .nav-bottom-item {
      flex-direction: column;
      align-items: flex-start;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .left-responsive-icons {
        display: inline-block;
        position: relative;
        top: 20px;
        i {
          color: $text-color;
          font-size: 25px;
          padding-right: 20px;
        }
      }
      .right-responsive-icons {
        display: inline-block;
        position: relative;
        top: 20px;
        i {
          color: $text-color;
          font-size: 25px;
          padding-left: 20px;
        }
      }
      .logoBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .left-side {
        background-color: #fff;
        padding: 20px 0;
        display: none;
        opacity: 1;
      }
      .menuItems {
        .left-list-items {
          .arrow {
            display: none;
          }
          .my-dropdown {
            display: none;
          }
          padding: 0;
          li {
            padding: 10px 0;
            &:last-child {
              padding: 10px 0;
            }
          }
          flex-direction: column;
          .last-list-item {
            border-right: none;
          }
        }
        .right-list-items {
          display: none;
        }
      }
      .my-badge {
        &::before {
          display: none;
        }
      }

      .right-side {
        .iconBox {
          display: none;
        }
      }
    }
  }
  #intro {
    .carousel {
      .first-carousel {
        h2 {
          font-size: 36px;
          text-align: center;
        }
        p {
          text-align: center;
        }
        .btnBox {
          text-align: center;
        }
      }
      .second-carousel {
        margin-bottom: 50px;
        h2 {
          font-size: 36px;
        }
      }
      .last-carousel {
        margin-bottom: 50px;
        h2 {
          font-size: 36px;
        }
      }
    }
  }
  #new-arrivals {
    .owl-nav {
      display: none;
    }
    .overlay-content {
      top: -400px;
      padding-left: 15px;
    }
  }
  #most-popular {
    .section-content {
      .imgBox {
        img {
          width: auto;
        }
      }
    }
    .linkBox {
      display: block;
      position: static;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  #new-products {
    .my-carousel {
      .product-item {
        .product-icon {
          display: none;
        }
        .product-icon-hover {
          display: none;
        }
        .btnBox {
          display: none;
        }
      }
    }
  }
  #excellent-quality {
    .section-img {
      .video-icon-box {
        top: 43%;
        left: 43%;
      }
    }
  }
}
@media screen and(max-width:768px) {
  #intro {
    .carousel {
      .first-carousel {
        margin-bottom: 20px;
        h2 {
          font-size: 30px;
          text-align: center;
        }
        p {
          text-align: center;
        }
        .btnBox {
          text-align: center;
        }
      }
      .second-carousel {
        margin-bottom: 20px;
        h2 {
          font-size: 30px;
        }
      }
      .last-carousel {
        margin-bottom: 20px;
        h2 {
          font-size: 30px;
        }
      }
    }
  }
  #new-arrivals {
    .owl-nav {
      display: none;
    }
    .overlay-content {
      top: -580px;
      padding-left: 15px;
    }
  }
  #excellent-quality {
    .section-img {
      height: 100%;
      img {
        height: 100%;
      }
      .video-icon-box {
        top: 35%;
        left: 40%;
      }
    }
  }
}
@media screen and(max-width:578px) {
  nav {
    .slide-item {
      display: none;
    }
    .nav-bottom-item {
      .left-responsive-icons {
        display: flex;
      }
      .right-responsive-icons {
        display: flex;
      }
    }
  }
  #intro {
    .carousel {
      .ds-img {
        display: none;
      }
      .mb-img {
        display: block;
      }
      .first-carousel {
        h2 {
          font-size: 19px;
          text-align: center;
        }
        p {
          text-align: center;
        }
        .btnBox {
          text-align: center;
        }
      }
      .second-carousel {
        margin-bottom: 50px;
        h2 {
          font-size: 19px;
        }
      }
      .last-carousel {
        margin-bottom: 50px;
        h2 {
          font-size: 19px;
        }
      }
    }
  }
  #new-arrivals {
    .owl-nav {
      display: none;
    }
    .overlay-content {
      top: -300px;
      padding-left: 15px;
    }
  }
  #excellent-quality {
    .content-items {
      text-align: center;
      margin-bottom: 20px;
    }
    .section-img {
      .video-icon-box {
        top: 30%;
      }
    }
  }
}
