$text-color: #000;
$primary-color: #fff;
$secondary-color: #787878;
$danger-color: #dc3545;
$warning-color: #f3bc48;
$info-color: #1dbdb8;
$link-color: #17a8a3;
$hovered-link-color: #117b77;
$bg-color: #fafafa;
$border: 1px solid $secondary-color;
