@import "variables";
@import "mixins";
@import "header";
@import "homePage";
@import "productDetail";
@import "blog";
@import "contactUs";
@import "createAccount";
@import "footer";
@import "responsive";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
